body{
    text-align: center;
    
    
}

audio:hover ,audio:focus , audio:active{
box-shadow: 15px 15px 20px rgba(red, green, blue, alpha);    
transform: scale(1.05);


}
audio{
    transition: all 0.5s linear;
    box-shadow: 2px 2px 4px 0px #d1f0f4;
    border-radius: 7px;
    
}

button{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-decoration:none;
    color: rgb(6, 51, 54);
    padding: 9px 25px;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    cursor: auto;
    display: table-row;
}

p{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 2em;
    text-align: center;
    color: white;
    margin-bottom: 12px;
    
    
}

h1{
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: 45px;
    font-family: 'Oswald', sans-serif;


    
}



a{
    text-decoration: none;
    text-align:center;
    margin-top: 11%;
    line-height: 1em;
    
}



nav li{
    color: rgb(183, 232, 159);
    font-display: center;
    height: 300px;
    text-align: center ;
    line-height: 420px;
    font-size: 500%;
    font-family: 'Oswald', sans-serif;
    
     }


/* /* nav li a:link{
    color:rgb(156, 202, 39);
    text-emphasis-color: red; */





 nav li a:hover{
    background: rgb(19, 21, 3);
    transition: 5ms;
    text-decoration: none;
    background-size: contain;
     }

nav li a:active{
    color: rgb(214, 225, 243);
    text-decoration:none;
}
nav li a:visited{
    color: rgb(213, 232, 232);
}
ul{
    list-style-type: none;
    text-decoration: none;
    color: white;
}

        
  .fa-color{
      color:orange;
  }
  .fa-color1{
      color: limegreen;
  }
  .fa-color2{
      color: black;
  }
  .fa-colorA{
      color: white;

  }
  .fa-colorC{
      color: white;
  }

  footer{
    
    list-style: none;
    color: white;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    background-color:transparent;
    position: center;
    
    margin-left: 5%;
  
  
   }
