body{
    background-color: rgb(52, 116, 136);
    padding:14px;
    margin:1px;
    border: 3px solid black;
    text-shadow:2 px lightcoral;
    background-image:url("Img.self.jpg")
    background-repeat: no repeat;
    margin-top:5px;
    font-family: 'Oswald', sans-serif;
    
    
}
a{
    text-decoration: none;
    text-align:right;
    padding:2%;
    margin bottom: 10px;
    
}

.box{
    margin-top:5px;
    margin-right: 5px;
    
    
    
    
}

nav li{
    color: rgb(225, 164, 72);
    display: table-row;
    height: 150px;
    width: 75;
    line-height: 220px;
    font-size: 600%;
    padding:0 5%;
    margin:0%;
    text-align:justify;
    position: sticky;
    vertical-align: middle;
    
     }
nav li a:link{
    color:rgb(101, 98, 104);
    text-emphasis-color: red;


}


     nav li a:hover{
         background: rgb(214, 180, 69);
         transition: 5ms;
         text-decoration: none;
        }
nav li a:active{
    color: fuchsia;
    text-decoration:none;
}
nav li a:visited{
    color: rgb(211, 215, 223);
}
ul{
    list-style-type:none;
    text-decoration: none;
}
fa-spotify<i class="fab fa-spotify"></i>

header{
    width:1000px;
    height:50px;
    display:block;
    margin-right:188px;
    margin-bottom: 50mm;
    padding:5px;
    color: white;
    float:right;
   

}

}
        
        

   


          