body{
    background-repeat: no-repeat;
    background-attachment: none;
    padding: 1%;
    border: 3px solid white;
    font-family: Oswald,sans-serif;
    position: relative;
    background-size: cover;
    background-image: url(Img.);
  
    

    }



a{
    text-decoration: none;
    text-align:left;
    margin-bottom: 10px;
}



nav li{
    color: rgb(159, 196, 195);
    display: table-row;
    height: 150px;
    width: 75;
    line-height: 220px;
    font-size: 600%;
    text-align:justify;
    position: sticky;
    font-family: 'Oswald', sans-serif;
    
     }
/* /* nav li a:link{
    color:rgb(156, 202, 39);
    text-emphasis-color: red; */





 nav li a:hover{
    background: rgb(56, 146, 237);
    transition: 5ms;
    text-decoration: none;
    background-size: 100%;
     
     
     
     }
nav li a:active{
    color: fuchsia;
    text-decoration:none;
}
nav li a:visited{
    color: rgb(214, 218, 218);
}
ul{
    list-style-type:none;
    text-decoration: none;
}

.fa-color{
    color:rgb(20, 51, 172);
    padding: 4mm;
}
.fa-color1{
    color:red;
    padding: 4mm;
}
.fa-color2{
    color: black;
    padding: 5mm;
    
}

    
      
     

   


        